*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.personen-tabelle {
  /* border: 1px solid rgb(222, 222, 222); */
  margin: 0 auto;
  margin-top: 5rem;

  border-collapse: collapse;
}

.personen-tabelle td,
.personen-tabelle th {
  border: 2px solid aqua;
  padding: 0.5rem;
}

/* .personen-tabelle tbody tr:nth-child(odd), */
/* .personen-tabelle tbody tr:nth-child(2n+1), */
/* .personen-tabelle tbody tr:nth-child(2n), OR*/
.personen-tabelle tbody tr:nth-child(even),
.personen-tabelle thead tr {
  background-color: tomato;
}

/* .personen-tabelle thead tr {
  background-color: tomato;
} */

/* .personen-tabelle tfoot tr:hover  */
.personen-tabelle thead tr:hover,
.personen-tabelle tbody tr:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

/* > means direct child => Jannis used it here but i didn't use it here! without direct child works too!

When we want to make the personen column in green color, when i hover on every row and not direct hover on the person column, I have to write the hover for tr and not th. because i want to say that, when i want to hover on the row, the person column turns green and not when i hover on the Personen column!*/
.personen-tabelle tbody tr:hover th,
.personen-tabelle thead tr:hover th.personen {
  background-color: greenyellow;
}
